Flask                        
requests                     
pylint                     
flake8                                
colorama                                   
openai                                   Pillow==9.5.0
